<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>detail</title>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/style.css">
    </head>
    <body class="template-home">
        <div class="sticky-guard">
            <header id="header" style>
                <div class="container-fluid  ">
                    <nav id="navbar-primary" data-module="Navbar" aria-label="primary" class="navbar">
                        <a class="navbar-brand" href="/" aria-label="Ben &amp; Jerry's 홈페이지">
                                    <img class="logo" alt="Ben &amp; Jerry's 로고" src="/assets/img/logo.png">
                        </a>

                        <ul role="menubar" class="navbar-nav navbar-nav-primary" data-nav="primary">
                            <li class="nav-item" role="menuitem" data-width="162">
                                <a id="navbarDropdownMenu-a" href="/flavours" 
                                        data-bs-toggle="collapse" 
                                        data-bs-target="#navbarDropdownMenu-collapse-a" 
                                        class="nav-link nav-link-toggle" 
                                        aria-current="page" 
                                        aria-expanded="false" 
                                        aria-haspopup="true">
                                    아이스크림</a>

                                <div id="navbarDropdownMenu-collapse-a" data-collapse="nav" 
                                        class="navbar-collapse navbar-collapse-nav collapse" 
                                        data-bs-parent="#navbar-primary" style="">
                                    <ul role="menu" class="nav " style="height: 64px;">
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/flavours">아이스크림</a>
                                        </li>
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/flavours/ice-cream-pints">파인트</a>
                                        </li>
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/flavours/ice-cream-cups">미니컵</a>
                                        </li>
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/flavours/ice-cream-shop-flavours">스쿱</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>


                            <li class="nav-item" role="menuitem" data-width="125">
                                <a class="nav-link" href="/ice-cream-near-me">
                                    구매처</a>
                            </li>
                        

                            <li class="nav-item" role="menuitem" data-width="144">
                                <a id="navbarDropdownMenu-b" href="/values" 
                                        data-bs-toggle="collapse" 
                                        data-bs-target="#navbarDropdownMenu-collapse-b" 
                                        class="nav-link nav-link-toggle" 
                                        aria-expanded="false" 
                                        aria-haspopup="true">
                                    행동주의</a>

                                <div id="navbarDropdownMenu-collapse-b" data-collapse="nav" 
                                        class="navbar-collapse navbar-collapse-nav collapse" 
                                        data-bs-parent="#navbar-primary" style="">
                                    <ul role="menu" class="nav " style="height: 96px;">
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/values">행동주의</a>
                                        </li>
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/values/how-we-do-business">기업 운영 방식</a>
                                        </li><li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/values/issues-we-care-about">우리가 중요하게 생각하는 문제</a>
                                        </li>
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/values/our-progressive-values">우리가 추구하는 진보적인 가치</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        
                            <li class="nav-item" role="menuitem">
                                <a id="navbarDropdownMenu-c" href="/about-us" 
                                        data-bs-toggle="collapse" 
                                        data-bs-target="#navbarDropdownMenu-collapse-c" 
                                        class="nav-link nav-link-toggle" 
                                        aria-expanded="false" 
                                        aria-haspopup="true">
                                    회사 소개</a>

                                <div id="navbarDropdownMenu-collapse-c" data-collapse="nav" 
                                        class="navbar-collapse navbar-collapse-nav collapse" 
                                        data-bs-parent="#navbar-primary" style="">
                                    <ul role="menu" class="nav " style="height: 160px;">
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/about-us">회사 소개</a>
                                        </li>
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/about-us/how-were-structured">경영 구조</a>
                                        </li>
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/about-us/how-we-make-ice-cream">우리가 아이스크림을 제조하는 방식</a>
                                        </li>
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/about-us/flavour-gurus">맛 전문가</a>
                                        </li>
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/about-us/where-we-do-business">우리가 기업을 운영하는 지역</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        
                            <li class="nav-item" role="menuitem">
                                <a class="nav-link " href="/whats-new">새로운 소식</a>
                            </li>

                            <li class="nav-item" role="menuitem">
                                <a class="nav-link" href="/contact-us">연락처</a>
                            </li>
                        </ul>


                        <button class="navbar-toggler navbar-toggler-search"
                        data-bs-toggle="collapse" data-bs-target="#navbar-collapse-search"
                        aria-controls="navbar-collapse-search" aria-expanded="false" aria-label="토글 검색">
                            <span class="navbar-toggler-icon"></span>    
                        </button>
                        <button class="navbar-toggler navbar-toggler-nav" 
                                data-toggle="nav" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse-nav"
                                aria-controls="navbar-collapse-nav" aria-expanded="false" aria-haspopup="true" aria-label="토글 탐색" 
                                style="display: revert; visibility: visible;">
                                <span class="navbar-toggler-icon"></span>
                        </button> 

                        <div id="navbar-collapse-search" data-collapse="search" data-bs-parent="#navbar-primary" class="navbar-collapse navbar-collapse-search collapse" style="">
                            <div class="d-none d-md-block">
                                <section id="search-auto-suggest" data-module="SearchAutoSuggest" class="search-auto-suggest" data-search-auto-suggest-url="/search-results/pagecontent/search-results.json">
                                    <form role="search" method="post" name="searchForm" action="/search-results" id="search-auto-suggest-form" class="search-auto-suggest">
                                        <input type="hidden" name="jcrMethodToCall" value="get">
                                        <input type="hidden" name="src_originSiteKey" value="kr">
                                        <input name="src_pagePath.value" id="search-auto-suggest-page-pathValue" type="hidden" value="/sites/kr/home">
                                        <input type="hidden" name="src_pagePath.includeChildren" value="true">
                                        <div class="d-flex">
                                            <div class="input-group">
                                                <label id="search-auto-suggest-label" for="search-auto-suggest-input" class="visually-hidden">
                            Search Our Website</label>
                                                <div data-divbox="" aria-owns="search-auto-suggest-combobox-listbox" class="combobox">
                                                    <input aria-autocomplete="list" role="combobox" aria-controls="search-auto-suggest-combobox-listbox" autocomplete="off" maxlength="100" aria-expanded="false" aria-haspopup="listbox" type="search" autocapitalize="none" name="src_terms[0].term" id="search-auto-suggest-input" placeholder="Search Flavours" class="form-control" aria-label="Search Our Website" value="" aria-activedescendant="">
                                                    <input type="hidden" name="src_terms[0].applyFilter" value="true">
                                                    <input type="hidden" name="src_terms[0].match" value="all_words">
                                                    <input type="hidden" name="src_terms[0].fields.siteContent" value="true">
                                                    <input type="hidden" name="src_terms[0].fields.tags" value="true">
                                                    <div id="search-auto-suggest-combobox-listbox" role="listbox" tabindex="0" class="combobox-listbox" aria-labelledby="search-auto-suggest-label" hidden="true"></div>
                                                    <div class="visually-hidden">
                                                            제안은 3자 이상 입력 시 제공됩니다. 결과 제공 시 상하 화살표를 이용하여 검토하고 선택하여 입력할 수 있습니다. 터치 기기 이용자의 경우 터치하거나 스와이프 동작으로 둘러볼 수 있습니다.</div>
                                                    <div role="status" aria-atomic="true" aria-live="polite" class="visually-hidden">
                                                        <span data-aria-status-results="" data-template-sizenotexact="{0}개 이상 결과 제공됨." data-template="{0}개 결과 제공됨."></span>
                                                        <span data-aria-status-focus="" data-template="{0}개 살펴보기."></span>
                                                    </div>
                                    
                                                    <div class="no-results" data-no-results="" data-template="결과를 찾을 수 없음: {0}" style="display: none;"></div>
                                                </div>
                                            </div>
                                            <button type="submit" class="visually-hidden-focusable btn btn-primary" disabled="">
                                        검색</button>
                                        </div>

                                        <input type="hidden" name="src_sites.values" value="kr">
                                        <input type="hidden" name="src_sitesForReferences.values" value="systemsite">
                                        <input type="hidden" name="src_languages.values" value="ko_KR">
                                    </form>
                                    <div role="status" aria-atomic="true" aria-live="polite" class="visually-hidden">
                                        <span data-aria-status-results="" data-template="{0}개 결과 제공됨."></span>
                                        <span data-aria-status-focus="" data-template="{0}개 살펴보기."></span>
                                    </div>
                                    <div class="no-results" data-no-results="" data-template="결과를 찾을 수 없음: {0}"></div>
                                </section>
                            </div>
                        </div>
                    </nav>  
                </div>
            


        <nav class="nav-secondary" aria-label="secondary">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/flavours" title="아이스크림">아이스크림</a>
                </li>
            </ol>
            <a href="/flavours/mint-chocolate-cookie-ice-cream/pint" class="next-item" data-flavour-package-item="[1]" aria-live="polite">
                        다음 맛</a>
            <a href="/flavours/mint-chocolate-chunk-ice-cream/scoop-shop" class="next-item d-none" data-flavour-package-item="[4]" aria-hidden="true">
                                다음 맛</a>
        </nav>  
    </header>
</div>


        <main id="main" style="margin-top: 180px;">
            <div class="container-fluid">
                <article class="hero theme-light view-default flavour-hero">
                    <div class="hero-background bg-bnj-pale-sky-blue" style="">
                        <div class="hero-background-images d-lg-flex" role="presentation">
                            <picture>
                                <img src="/assets/img/homepage/PDP_background_desktop.avif" alt="" class="" loading="lazy">
                            </picture>
                            <div class="product-image" data-flavour-package-item="[1]" role="presentation">
                            <picture>
                                <img src="/assets/img/flavours/new-york-super-fudge-chunk-ice-cream/pint/packshot/main.png" alt="New York Super Fudge Chunk Ice Cream - Pint" loading="lazy">
                            </picture>
                        </div>
                        <div class="product-image d-none" data-flavour-package-item="[4]" role="presentation">
                            <picture>
                                <img src="/assets/img/flavours/new-york-super-fudge-chunk-ice-cream/scoop-shop/packshot/main.png" alt="New York Super Fudge Chunk Ice Cream - Bulk" loading="lazy">
                            </picture>
                        </div>
                    </div>
                        
                    
                    <div class="hero-foreground">
                        <div class="hero-content">
                            <h1 class="heading-1">뉴욕 수퍼 퍼지 청크</h1>
                            <div class="hero-body " data-flavour-package-item="[1]">화이트 &amp; 다크 퍼지 청크, 피칸, 호두, 아몬드가 들어있는 초콜릿 아이스크림</div>
                            <div class="hero-body  d-none" aria-hidden="true" data-flavour-package-item="[4]">초콜릿 아이스크림 베이스에 아몬드, 호두, 화이트 초콜릿과 다크 초콜릿 덩어리가 듬뿍 들어가 있는 아이스크림</div>
                            <div class="hero-buttons">
                                <a class="btn btn-primary" data-cartwire-widget="7fb396a1da416400d4c51eaea08c39ea" data-cartwire-language="ko" data-gtm="commerce_click">
                                    구매처</a>
                                <a class="btn btn-secondary" data-flavour-package-item="[1]" data-gtm="commerce_click" href="/ice-cream-near-me" aria-live="polite">
                                    주문 배달</a></div>
                        </div>
                    </div>
                </article>

                <div class="row grid-row article">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <section class="flavour-about">
                            <h2 class="heading heading-2">맛 소개</h2>
                            <div class="" data-flavour-package-item="[1]" aria-live="polite">1985년에 벤앤제리스는 뉴욕만의 새로운 플레이버로 다양한 종류의 청크들을 넣은 뉴욕 수퍼 퍼지 청크를 탄생시켰습니다. 뉴욕에서도 인기있는 플레이버라면 어디서든 맛 볼 수 있을거라 생각했어요. 실제로도 그렇고요.</div>
                            <div class="d-none" data-flavour-package-item="[4]" aria-hidden="true">오늘부턴 나도 뉴요커! 고소한 아몬드, 호두와 풍부한 초콜릿의 맛이 당신에게 잊을 수 없는 순간을  선물합니다. 뉴욕의 풍부하고 깊은 맛을 사랑하는 사람과 함께 즐겨보세요!</div>
                        </section>
                        
                        <div class="flavour-available-as">
                            <h3 id="heading-cacd9ba5-a66e-4f9b-b286-7f939bd404a4" class="heading heading-3">제공:</h3>
                            <ul>
                                <li>
                                    <button class="card view-filter active" type="button" role="radio" aria-checked="true" data-flavour-package="pint" data-flavour-package-change="1">
                                        <div class="card-image">
                                            <picture>
                                                <img src="/assets/img/misc/37553_IceCreamPints_Flavor_Landing_Icons.png" alt="" class="" loading="lazy">
                                            </picture>
                                        </div>
                                파인트</button>
                                </li>
                                <li>
                                    <button class="card view-filter" type="button" role="radio" aria-checked="false" data-flavour-package="scoop-shop" data-flavour-package-change="4">
                                        <div class="card-image">
                                            <picture>
                                                <img src="/assets/img/misc/37553_Scoop_Shops_Flavor_Landing_Icons.avif" alt="" class="" loading="lazy">
                                            </picture>
                                        </div>
                                스쿱</button>
                                </li>
                            </ul>
                        </div>
                        
                        <section id="gallery-1dfd6373-b868-4e85-b7cb-649e6e7da5a9-1$" class="gallery" data-module="Gallery" data-min-slides="2" data-flavour-package-item="[1]">
                            <h3 class="visually-hidden">New York Super Fudge Chunk Ice Cream - Pint flavour-gallery</h3>
                            <div data-swiper="" class="swiper swiper-initialized swiper-horizontal swiper-watch-progress swiper-backface-hidden">
                                <div class="swiper-wrapper" id="swiper-wrapper-d106c5a621f7107810b">
                                    <div class="swiper-slide swiper-slide-visible swiper-slide-fully-visible swiper-slide-active" style="width: 474px;">
                                        <picture>
                                            <img class="" src="/assets/img/flavours/new-york-super-fudge-chunk-ice-cream/pint/gallery/01-tower.png" alt="image-from-the-document-manager" height="1920" width="1920" loading="lazy"></picture>
                                    </div>
                                    <div class="swiper-slide swiper-slide-next" style="width: 474px;">
                                        <picture>
                                            <img src="/assets/img/flavours/new-york-super-fudge-chunk-ice-cream/pint/gallery/02-envirolid.jpg" alt="New York Super Fudge Chunk Ice Cream - Pint 2 / 5" class="" loading="lazy">
                                        </picture>
                                    </div>
                                    <div class="swiper-slide" role="group" aria-label="3 / 5" style="width: 474px;">
                                        <picture>
                                            <img src="/assets/img/flavours/new-york-super-fudge-chunk-ice-cream/pint/gallery/03-scooped.jpg" alt="New York Super Fudge Chunk Ice Cream - Pint 3 / 5" class="" loading="lazy">
                                        </picture>
                                    </div>
                                    <div class="swiper-slide" role="group" aria-label="4 / 5" style="width: 474px;">
                                        <picture>
                                            <img src="/assets/img/flavours/new-york-super-fudge-chunk-ice-cream/pint/gallery/04-enviro.jpg" alt="New York Super Fudge Chunk Ice Cream - Pint 4 / 5" class="" loading="lazy">
                                        </picture>
                                    </div>
                                    <div class="swiper-slide"style="width: 474px;">
                                        <picture>
                                            <img src="/assets/img/flavours/new-york-super-fudge-chunk-ice-cream/pint/gallery/05-hero.jpg" alt="New York Super Fudge Chunk Ice Cream - Pint 5 / 5" class="" loading="lazy">
                                        </picture>
                                    </div>
                                </div>
                                <div data-swiper-pagination="" class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">
                                    <span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0"></span>
                                    <span class="swiper-pagination-bullet" tabindex="0"></span>
                                    <span class="swiper-pagination-bullet" tabindex="0"></span>
                                    <span class="swiper-pagination-bullet" tabindex="0"></span>
                                    <span class="swiper-pagination-bullet" tabindex="0"></span>
                                </div>
                                <span class="swiper-notification" aria-atomic="true"></span>
                            </div>
                        </section>
                        <section id="gallery-1dfd6373-b868-4e85-b7cb-649e6e7da5a9-4$" class="gallery d-none" data-module="Gallery" data-min-slides="2" data-flavour-package-item="[4]">
                            <h3 class="visually-hidden">New York Super Fudge Chunk Ice Cream - Bulk flavour-gallery</h3>
                            <div data-swiper="" class="swiper">
                                <div class="swiper-wrapper" id="swiper-wrapper-104ae25cde62b6471" style="">
                                    <div class="swiper-slide">
                                        <picture>
                                            <img class="" src="/assets/img/flavours/new-york-super-fudge-chunk-ice-cream/scoop-shop/gallery/01-tower.png" alt="image-from-the-document-manager" height="1920" width="1920" loading="lazy">
                                        </picture>
                                    </div>
                                </div>
                                <div data-swiper-pagination="" class="swiper-pagination"></div>
                            </div>
                        </section>
                        <section class="flavour-values">
                            <h3 class="heading heading-3">
                                Values-led Sourcing</h3>
                            <ul>
                                <li>
                                    <div class="card view-filter">
                                        <div class="card-image" role="presentation">
                                            <picture>                                    
                                                <img src="/assets/img/misc/90001_Non-GMO_VLS_Simpler_Icons.avif" alt="Non-GMO icon" class="" loading="lazy" aria-hidden="true">
                                            </picture>
                                        </div>Non-GMO
                                    </div>
                                </li>
                                <li>
                                    <div class="card view-filter">
                                        <div class="card-image" role="presentation">
                                            <picture>
                                                <img src="/assets/img/misc/90002_Cage-free_Eggs_VLS_Simpler_Icons.webp" alt="Cage-Free Eggs icon" class="" loading="lazy" aria-hidden="true">
                                            </picture>
                                        </div>Cage-Free Eggs
                                    </div>
                                </li>
                                <li>
                                    <div class="card view-filter">
                                        <div class="card-image" role="presentation">
                                            <picture>
                                                <img src="/assets/img/misc/90004_Fairtrade_VLS_Simpler_Icons.avif" alt="" class="" loading="lazy" aria-hidden="true">
                                            </picture>
                                        </div>Fairtrade
                                    </div>
                                </li>
                                <li>
                                    <div class="card view-filter">
                                        <div class="card-image" role="presentation">
                                            <picture>
                                                <img src="/assets/img/misc/90005_Caring_Dairy_VLS_Simpler_Icons.avif" alt="Caring Dairy icon" class="" loading="lazy" aria-hidden="true">
                                            </picture>
                                        </div>Caring Dairy
                                    </div>
                                </li>
                                <li>
                                    <div class="card view-filter">
                                        <div class="card-image" role="presentation">
                                            <picture>                                    
                                                <img src="/assets/img/misc/90006_Responsibly_Sourced_Packaging_VLS_Simpler_Icons.avif" alt="Responsibly Sourced Packaging icon" class="" loading="lazy" aria-hidden="true">
                                            </picture>
                                        </div>Responsibly Sourced Packaging
                                    </div>
                                </li>
                            </ul>
                        </section>
                        <div class="accordion" id="accordion-c91cb313-aedd-416d-b3ef-35e81278ee44">
                            <div class="accordion-item">
                                <h3 class="accordion-header heading-3" id="accordion-item-de0f037d-d08f-4eb1-8cba-3cd12b744c56">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-de0f037d-d08f-4eb1-8cba-3cd12b744c56" aria-expanded="false" aria-controls="collapse-de0f037d-d08f-4eb1-8cba-3cd12b744c56">
                            Ingredients</button>
                                </h3>
                                <div id="collapse-de0f037d-d08f-4eb1-8cba-3cd12b744c56" role="region" class="accordion-collapse collapse">
                                    <div class="accordion-body">
                                        <div class="" data-flavour-package-item="[1]" aria-live="polite">
                                            <p>크림, 설탕시럽 (설탕, 정제수), 탈지우유, 정제수, 코코아, 설탕, 코코넛유, 피칸, 구운 아몬드 (아몬드, 땅콩유), 달걀 노른자, 코코아, 유지방, 소금, 콩레시틴, 바닐라 추출물, 구아검, 버터유, 땅콩유, 버터 (크림), 천연조미료, 카라기난</p>
                                            <picture class="d-block my-3">
                                                <img src="/assets/img/flavours/new-york-super-fudge-chunk-ice-cream/pint/nutrition/473ml.png" alt="영양 정보" class="" loading="lazy">
                                            </picture>
                                            <a href="https://smartlabel.scanbuy.com/3kDXaw4KiY2GQD9DU6973N/preview/076840100149-0002-en-US-1670951315103/index.html#nutrition" class="d-block my-3" title="뉴욕 수퍼 퍼지 청크 Pint" target="_blank">
                                                SmartLabel (스마트라벨) - 뉴욕 수퍼 퍼지 청크 영양 세부 사항 전체 보기<span class="visually-hidden">(새 창에서 열기)</span></a>
                                        </div>
                                        <div class="d-none" data-flavour-package-item="[4]">
                                            <p>크림, 액상당(설탕, 물), 탈지유, 물, (알칼리로 처리한)코코아, 설탕, 코코넛 오일, 호두, 피칸, 볶은 아몬드(아몬드, 땅콩 오일), 말린 사탕수수 시럽, 계란 노른자, 코코아, 유지방, 소금, 대두 레시틴, 바닐라 추출물, 구아검, 버터 오일, 땅콩 오일, 천연착향료, 버터(크림), 유지방, 카라기난, 옥수수 말토덱스트린.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h3 class="accordion-header heading-3" id="accordion-item-0084f2cc-2f61-4797-9319-a1ee9fe5ba95">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-0084f2cc-2f61-4797-9319-a1ee9fe5ba95" aria-expanded="false" aria-controls="collapse-0084f2cc-2f61-4797-9319-a1ee9fe5ba95">
                                        Dietary Certifications</button>
                                </h3>
                                <div id="collapse-0084f2cc-2f61-4797-9319-a1ee9fe5ba95" role="region" class="accordion-collapse collapse">
                                    <div class="accordion-body">
                                        <div class="flavour-dietary">
                                            <ul>
                                                <li>
                                                    <picture>
                                                        <img src="/assets/img/misc/91002_Kosher_Dairy_Dietary_Icon.png" alt="" class="" loading="lazy" role="none">
                                                    </picture>Kosher Dairy
                                                </li>
                                                <li>
                                                    <picture>
                                                        <img src="/assets/img/misc/91003_Gluten-free_Dietary_Icon.png" alt="" class="" loading="lazy" role="none">
                                                    </picture>Gluten Free
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <article class="card view-related">
                            <div class="card-image">
                                <picture>
                                    <img src="/assets/img/misc/how-we-make-ice-cream-90wx80h.webp" alt="How We Make Ice Cream icon" class="" loading="lazy">
                                </picture>
                            </div>
                            <div class="card-content">
                                <h2 class="heading heading-2">만드는 법 알아보기 </h2>
                                <div class="card-body"></div>
                    
                                <div class="card-buttons">
                                    <a href="/about-us/how-we-make-ice-cream" class="btn btn-tertiary" target="_self" title="우리가 아이스크림을 제조하는 방식">아이스크림을 만드는 방법</a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-3"></div>
                </div>

                





                <section id="carousel-0de2d308-a450-4ffb-aa0d-4884488a9d9a" data-module="Carousel" data-min-slides="4" class="carousel view-recommended">

                    <header>
                        <h2 class="heading heading-2">추천하는 맛</h2>
                        <div class="d-flex justify-content-end">
                            </div>
                    </header>
                
                    <div class="swiper">
                        <div class="swiper-wrapper flex-wrap">
                            <div class="swiper-slide">
                                    
                <div class="flavour-card view-recommended" data-id="2686">
                    <picture>
                                    <img src="/assets/img/flavours/chunky-monkey-ice-cream/pint/gallery/05-hero.jpg" alt="청키 몽키® Original Ice Cream Pint" loading="lazy">
                                </picture>
                            <div class="label">Original Ice Cream</div>
                    <h3 class="heading heading-3">
                        청키 몽키®</h3>
                
                    <div>
                            <a href="/flavours/chunky-monkey-ice-cream/pint" class="btn btn-secondary stretched-link" aria-label="더 보기 - 청키 몽키®" data-gtm="commerce_click">
                                더 보기</a>
                        </div>
                    </div>
                </div>
                                <div class="swiper-slide">
                                    
                <div class="flavour-card view-recommended" data-id="3647">
                    <picture>
                                    <img src="/assets/img/flavours/peanut-butter-cup-ice-cream/pint/gallery/05-hero.jpg" alt="피넛 버터 컵 Original Ice Cream Pint" loading="lazy">
                                </picture>
                            <div class="label">Original Ice Cream</div>
                    <h3 class="heading heading-3">
                        피넛 버터 컵</h3>
                
                    <div>
                            <a href="/flavours/peanut-butter-cup-ice-cream/pint" class="btn btn-secondary stretched-link" aria-label="더 보기 - 피넛 버터 컵" data-gtm="commerce_click">
                                더 보기</a>
                        </div>
                    </div>
                </div>
                                <div class="swiper-slide">
                                    
                <div class="flavour-card view-recommended" data-id="3804">
                    <picture>
                                    <img src="/assets/img/flavours/pistachio-pistachio-ice-cream/pint/gallery/05-hero.jpg" alt="피스타치오 피스타치오 Original Ice Cream Pint" loading="lazy">
                                </picture>
                            <div class="label">Original Ice Cream</div>
                    <h3 class="heading heading-3">
                        피스타치오 피스타치오</h3>
                
                    <div>
                            <a href="/flavours/pistachio-pistachio-ice-cream/pint" class="btn btn-secondary stretched-link" aria-label="더 보기 - 피스타치오 피스타치오" data-gtm="commerce_click">
                                더 보기</a>
                        </div>
                    </div>
                </div>
                                </div>
                        </div>
                </section>






            </div>
        </main>

    


        <aside id="aside-footer">
            <div class="container-fluid">
                <div class="footer-top">
                    <div class="footer-title">
                        <h2>우리는 아이스크림 만드는 일을 사랑합니다. 하지만 세상을 더 나은 곳으로 만들기 위한 노력들이 우리의 일에 더 큰 의미를 부여합니다.&nbsp;</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <article class="footer-card">
                                <div class="footer-card-image" role="presentation">
                                        <img src="/assets/img/homepage/footer_card_1.png" alt="" class="" loading="lazy">
                                </div>
                                <div class="footer-card-content">
                                    <h2 class="heading-3">엄선한 원료</h2>
                                    <div class="footer-card-body"><p>우리의 원료들은 환상적인 맛의 아이스크림을 만드는 것은 물론, 사회의 긍정적 변화를 지원합니다.&nbsp;</p></div>
                                    <a href="/values/how-we-do-business" class="btn btn-tertiary">제품의 원료 조달</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-4">
                            <article class="footer-card">
                                <div class="footer-card-image" role="presentation">
                                    <img src="/assets/img/homepage/footer_card_2.png" alt="" class="" loading="lazy">
                                </div>
                                <div class="footer-card-content">
                                    <h2 class="heading-3">성공을 공유</h2>
                                    <div class="footer-card-body"><p>사업과 관련된 모든 사람이 상생할 수 있는 기회를 창출하는 것이 목표입니다.</p>
                                    </div>
                                    <a href="/values" class="btn btn-tertiary">우리의 사명과 가치</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-4">
                            <article class="footer-card">
                                <div class="footer-card-image" role="presentation">
                                    <img src="/assets/img/homepage/footer_card_3.png" alt="" class="" loading="lazy">
                                </div>
                                <div class="footer-card-content">
                                    <h2 class="heading-3">변화 만들기</h2>
                                    <div class="footer-card-body"><p>우리는 우리가 중요하게 생각하는 행동주의의 대의에 대한 인식을 높이고 이를 지원하고 있습니다.</p>
                                    </div>
                                    <a href="/values/issues-we-care-about" class="btn btn-tertiary">우리가 중요하게 생각하는 문제</a>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
                
        <footer id="footer">
            <div class="container-fluid  ">
                <div class="footer-bottom">
                    <div class="footer-image">
                        <img class="" src="/assets/img/homepage/footer_woody.svg" alt="Illustrated cow holding a megaphone" loading="lazy"></div>
                    <div class="row">
                    <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <h2 class="heading">연락하기</h2>
                            <ul class="">
                                <li><a href="/contact-us">피드백 보내기</a></li>
                            </ul>
                            <div class="social-links article">
                                <h2 class="heading">팔로우하기</h2>
                                <ul class="">
                                    <li>
                                        <a href="https://www.facebook.com/benandjerryskr">
                                            <span class="icon icon-facebook"></span></a>
                                    </li>
                                    <li>
                                        <a href="https://instagram.com/benjerryskorea">
                                            <span class="icon icon-instagram"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h2 class="heading">보다 자세한 정보</h2>
                            <ul class="">
                                <li><a href="/whats-new">새로운 소식</a></li>
                                <li><a href="/about-us">회사 소개</a></li>
                                <li><a href="/values/how-we-do-business">기업 운영 방식</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="main.js"></script>
            
    </body>
</html>                    