<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>top-ben-jerrys-flavours-of-2022</title>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
    </head>
    <body class="template-home">
        <div class="sticky-guard">
            <header id="header" style>
                <div class="container-fluid  ">
                    <nav id="navbar-primary" data-module="Navbar" aria-label="primary" class="navbar">
                        <a class="navbar-brand" href="/" aria-label="Ben &amp; Jerry's 홈페이지">
                                    <img class="logo" alt="Ben &amp; Jerry's 로고" src="../assets/img/logo.png">
                        </a>

                        <ul role="menubar" class="navbar-nav navbar-nav-primary" data-nav="primary">
                            <li class="nav-item" role="menuitem" data-width="162">
                                <a id="navbarDropdownMenu-a" href="/flavours" 
                                        data-bs-toggle="collapse" 
                                        data-bs-target="#navbarDropdownMenu-collapse-a" 
                                        class="nav-link nav-link-toggle" 
                                        aria-current="page" 
                                        aria-expanded="false" 
                                        aria-haspopup="true">
                                    아이스크림</a>

                                <div id="navbarDropdownMenu-collapse-a" data-collapse="nav" 
                                        class="navbar-collapse navbar-collapse-nav collapse" 
                                        data-bs-parent="#navbar-primary" style="">
                                    <ul role="menu" class="nav " style="height: 64px;">
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/flavours">아이스크림</a>
                                        </li>
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/flavours/ice-cream-pints">파인트</a>
                                        </li>
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/flavours/ice-cream-cups">미니컵</a>
                                        </li>
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/flavors/ice-cream-shop-flavors">스쿱</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>


                            <li class="nav-item" role="menuitem" data-width="125">
                                <a class="nav-link" href="/ice-cream-near-me">
                                    구매처</a>
                            </li>
                        

                            <li class="nav-item" role="menuitem" data-width="144">
                                <a id="navbarDropdownMenu-b" href="/values" 
                                        data-bs-toggle="collapse" 
                                        data-bs-target="#navbarDropdownMenu-collapse-b" 
                                        class="nav-link nav-link-toggle" 
                                        aria-expanded="false" 
                                        aria-haspopup="true">
                                    행동주의</a>

                                <div id="navbarDropdownMenu-collapse-b" data-collapse="nav" 
                                        class="navbar-collapse navbar-collapse-nav collapse" 
                                        data-bs-parent="#navbar-primary" style="">
                                    <ul role="menu" class="nav " style="height: 96px;">
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/values">행동주의</a>
                                        </li>
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/values/how-we-do-business">기업 운영 방식</a>
                                        </li><li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/values/issues-we-care-about">우리가 중요하게 생각하는 문제</a>
                                        </li>
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/values/our-progressive-values">우리가 추구하는 진보적인 가치</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        
                            <li class="nav-item" role="menuitem">
                                <a id="navbarDropdownMenu-c" href="/about-us" 
                                        data-bs-toggle="collapse" 
                                        data-bs-target="#navbarDropdownMenu-collapse-c" 
                                        class="nav-link nav-link-toggle" 
                                        aria-expanded="false" 
                                        aria-haspopup="true">
                                    회사 소개</a>

                                <div id="navbarDropdownMenu-collapse-c" data-collapse="nav" 
                                        class="navbar-collapse navbar-collapse-nav collapse" 
                                        data-bs-parent="#navbar-primary" style="">
                                    <ul role="menu" class="nav " style="height: 160px;">
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/about-us">회사 소개</a>
                                        </li>
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/about-us/how-were-structured">경영 구조</a>
                                        </li>
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/about-us/how-we-make-ice-cream">우리가 아이스크림을 제조하는 방식</a>
                                        </li>
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/about-us/flavour-gurus">맛 전문가</a>
                                        </li>
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/about-us/where-we-do-business">우리가 기업을 운영하는 지역</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        
                            <li class="nav-item" role="menuitem">
                                <a class="nav-link " href="/whats-new">새로운 소식</a>
                            </li>

                            <li class="nav-item" role="menuitem">
                                <a class="nav-link" href="/contact-us">연락처</a>
                            </li>
                        </ul>


                        <button class="navbar-toggler navbar-toggler-search"
                        data-bs-toggle="collapse" data-bs-target="#navbar-collapse-search"
                        aria-controls="navbar-collapse-search" aria-expanded="false" aria-label="토글 검색">
                            <span class="navbar-toggler-icon"></span>    
                        </button>
                        <button class="navbar-toggler navbar-toggler-nav" 
                                data-toggle="nav" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse-nav"
                                aria-controls="navbar-collapse-nav" aria-expanded="false" aria-haspopup="true" aria-label="토글 탐색" 
                                style="display: revert; visibility: visible;">
                                <span class="navbar-toggler-icon"></span>
                        </button>

                        <div id="navbar-collapse-search" data-collapse="search" data-bs-parent="#navbar-primary" class="navbar-collapse navbar-collapse-search collapse" style="">
                            <div class="d-none d-md-block">
                                <section id="search-auto-suggest" data-module="SearchAutoSuggest" class="search-auto-suggest" data-search-auto-suggest-url="/search-results/pagecontent/search-results.json">
                                    <form role="search" method="post" name="searchForm" action="/search-results" id="search-auto-suggest-form" class="search-auto-suggest">
                                        <input type="hidden" name="jcrMethodToCall" value="get">
                                        <input type="hidden" name="src_originSiteKey" value="kr">
                                        <input name="src_pagePath.value" id="search-auto-suggest-page-pathValue" type="hidden" value="/sites/kr/home">
                                        <input type="hidden" name="src_pagePath.includeChildren" value="true">
                                        <div class="d-flex">
                                            <div class="input-group">
                                                <label id="search-auto-suggest-label" for="search-auto-suggest-input" class="visually-hidden">
                            Search Our Website</label>
                                                <div data-divbox="" aria-owns="search-auto-suggest-combobox-listbox" class="combobox">
                                                    <input aria-autocomplete="list" role="combobox" aria-controls="search-auto-suggest-combobox-listbox" autocomplete="off" maxlength="100" aria-expanded="false" aria-haspopup="listbox" type="search" autocapitalize="none" name="src_terms[0].term" id="search-auto-suggest-input" placeholder="Search Flavours" class="form-control" aria-label="Search Our Website" value="" aria-activedescendant="">
                                                    <input type="hidden" name="src_terms[0].applyFilter" value="true">
                                                    <input type="hidden" name="src_terms[0].match" value="all_words">
                                                    <input type="hidden" name="src_terms[0].fields.siteContent" value="true">
                                                    <input type="hidden" name="src_terms[0].fields.tags" value="true">
                                                    <div id="search-auto-suggest-combobox-listbox" role="listbox" tabindex="0" class="combobox-listbox" aria-labelledby="search-auto-suggest-label" hidden="true"></div>
                                                    <div class="visually-hidden">
                                                            제안은 3자 이상 입력 시 제공됩니다. 결과 제공 시 상하 화살표를 이용하여 검토하고 선택하여 입력할 수 있습니다. 터치 기기 이용자의 경우 터치하거나 스와이프 동작으로 둘러볼 수 있습니다.</div>
                                                    <div role="status" aria-atomic="true" aria-live="polite" class="visually-hidden">
                                                        <span data-aria-status-results="" data-template-sizenotexact="{0}개 이상 결과 제공됨." data-template="{0}개 결과 제공됨."></span>
                                                        <span data-aria-status-focus="" data-template="{0}개 살펴보기."></span>
                                                    </div>
                                    
                                                    <div class="no-results" data-no-results="" data-template="결과를 찾을 수 없음: {0}" style="display: none;"></div>
                                                </div>
                                            </div>
                                            <button type="submit" class="visually-hidden-focusable btn btn-primary" disabled="">
                                        검색</button>
                                        </div>

                                        <input type="hidden" name="src_sites.values" value="kr">
                                        <input type="hidden" name="src_sitesForReferences.values" value="systemsite">
                                        <input type="hidden" name="src_languages.values" value="ko_KR">
                                    </form>
                                    <div role="status" aria-atomic="true" aria-live="polite" class="visually-hidden">
                                        <span data-aria-status-results="" data-template="{0}개 결과 제공됨."></span>
                                        <span data-aria-status-focus="" data-template="{0}개 살펴보기."></span>
                                    </div>
                                    <div class="no-results" data-no-results="" data-template="결과를 찾을 수 없음: {0}"></div>
                                </section>
                            </div>
                        </div>
                    </nav>  
                </div>



                <nav class="nav-secondary" aria-label="secondary">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/whats-new" title="새로운 소식">새로운 소식</a>
                        </li>
                    </ol>
                </nav>  
            </header>
        </div>


        <main id="main" style="margin-top: 180px;">
            <div class="container-fluid">
                <article class="hero theme-light view-default">
                    <div class="hero-background bg-bnj-sky-blue" style="">
                        <div class="hero-background-images d-lg-none" role="presentation"></div>
                        <div class="hero-background-images d-none d-lg-flex" role="presentation"></div>
                    </div>    
                    <div class="hero-foreground">
                        <div class="hero-content">
                            <h1 class="heading-1">어떻게 하면 보다 특별한 Free Cone day (프리 콘 데이)를 만들 수 있을까요?</h1>
                            <div class="hero-body"></div>
                            <div class="hero-buttons"></div>
                        </div>
                    </div>
                </article>

                <div class="row grid-row article">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="content-block">
                            <p>여러분이 선택한 아이스크림이 세상을 더 긍정적으로 만드는 데 도움이 될 수 있다는 사실, 알고 계시나요?&nbsp;<br><br>
                                Free Cone day (프리 콘 데이)를 기다리고 계시는 여러분을 위해, 맛있는 아이스크림 뿐만 아니라 여러분의 관심사나 가치관에 맞는 맛을 고르실 수 있도록 이 가이드를 만들었어요.&nbsp;벤앤제리스의 모든 아이스크림은 크고 작은 방식으로 농부, 지역 공동체, 환경, 그리고 세상의 긍정적인 변화를 돕고 있답니다. 벤앤제리스는 앞으로도 더 노력할게요!&nbsp;이번 2023년 4월 3일, Free Cone day (프리 콘 데이)에 함께하셔서 가장 중요하다고 생각하시는 문제들에 대한 해결 방법을 함께 찾아나가요!&nbsp;</p>
                        </div>
                        <div class="content-block">
                            <p>&nbsp;</p>
                        </div>
                    
                        <ol class="listicle">
                            <li>
                                <article class="content-tile view-default">
                                    <div class="content-tile-image article">
                                        <picture>
                                            <img src="../assets/img/misc/flavor-listicle-1.png" class="" loading="lazy" aria-hidden="true">
                                        </picture>
                                    </div>
                                    <div class="content-tile-content">
                                        <h2 id="tile-heading-09454b28-27c5-4235-b70c-503fbbb87522" class="heading heading-3">지역 사람들이 보다 행복한 삶을 살 수 있도록 돕고 싶으신가요?</h2>
                                        <div class="content-tile-body" id="tile-body-09454b28-27c5-4235-b70c-503fbbb87522"><p>그렇다면 초콜릿 퍼지 브라우니 또는 하프 베이크를 선택해 보세요! 이 두 가지 맛에 들어간 퍼지 브라우니는 뉴욕, 용커스 지역의 사회적 기업인 그레이스톤 베이커리에서 만들어졌습니다. 이 베이커리는 고용 장벽에 직면한 사람들에게 직업 훈련과 일자리를 제공하고 있답니다.</p>
                                        </div>
                                    </div>
                                </article>
                            </li>
                            <li>
                                <article class="content-tile view-default">
                                    <div class="content-tile-image article">
                                        <picture>
                                            <img src="../assets/img/misc/flavor-listicle-2.png" class="" loading="lazy" aria-hidden="true">
                                        </picture>
                                    </div>
                                    <div class="content-tile-content">
                                        <h2 id="tile-heading-756de579-70eb-462e-b0b6-3b68c8036ebf" class="heading heading-3">사람들과 지구에게 도움이 되고 싶으신가요?</h2>
                                        <div class="content-tile-body" id="tile-body-756de579-70eb-462e-b0b6-3b68c8036ebf"><p>그렇다면 초코칩 쿠키 도우를 선택해 보세요! 해당 맛에 들어있는 이 독특한 식감의 쿠키 도우는 리노 푸드로부터 공급받고 있습니다. 해당 기업은 벤앤제리스의 번영과 연계된 가치와 열정을 공유하는 비콥 (B Corp) 인증 기업이랍니다.</p>
                                        </div>
                                    </div>
                                </article>
                            </li>
                            <li>
                                <article class="content-tile view-default">
                                    <div class="content-tile-image article">
                                        <picture>
                                            <img src="../assets/img/misc/fcd-flavor-listicle-3.png" class="" loading="lazy" aria-hidden="true">
                                        </picture>
                                    </div>
                                    <div class="content-tile-content">
                                        <h2 id="tile-heading-fe270346-d8cd-46df-8ea0-3a30e1454e36" class="heading heading-3">공정무역을 지지하고 싶으신가요?</h2>
                                        <div class="content-tile-body" id="tile-body-fe270346-d8cd-46df-8ea0-3a30e1454e36"><p>벤앤제리스의 모든 설탕, 코코아, 바닐라, 커피, 바나나는 공정거래 인증을 받고 있습니다. 그 말인즉슨 여러분이 벤앤제리스의 어떤 맛을 고르셔도 이미 공정무역을 지지하고 계신다는 거죠. 보다 적극적으로 공정무역을 지원하고 계신다면 견과류가 듬뿍 들어간 청키몽키나 뉴욕 슈퍼 퍼지 청크를 추천드릴게요!</p>
                                        </div>
                                    </div>
                                </article>
                            </li>
                            <li>
                                <article class="content-tile view-default">
                                    <div class="content-tile-image article">
                                        <picture>
                                            <img src="../assets/img/misc/fcd-flavor-listicle-4.png" class="" loading="lazy" aria-hidden="true">
                                        </picture>
                                    </div>
                                    <div class="content-tile-content">
                                        <h2 id="tile-heading-d50a1f75-c5d0-42c8-abb7-6b8595cf8299" class="heading heading-3">동물 애호가이신가요?</h2>
                                        <div class="content-tile-body" id="tile-body-d50a1f75-c5d0-42c8-abb7-6b8595cf8299"><p>저희도 마찬가지예요! 벤앤제리스는 동물 복지 인증을 받은 계란만 사용하고, 행복한 소를 위해 성장 호르몬 사용을 금지하고 있답니다. 동물의 행복은 곧 저희의 행복이겠죠?</p>
                                        </div>
                                    </div>
                                </article>
                            </li>
                            <li>
                                <article class="content-tile view-default">
                                    <div class="content-tile-image article">
                                        <picture>
                                            <img src="../assets/img/misc/flavor-listicle-5.png" class="" loading="lazy" aria-hidden="true">
                                        </picture>
                                    </div>
                                    <div class="content-tile-content">
                                        <h2 id="tile-heading-c1d10370-515d-40b8-bd74-eed6874be4fe" class="heading heading-3">온실가스에 관심이 있으신가요?</h2>
                                        <div class="content-tile-body" id="tile-body-c1d10370-515d-40b8-bd74-eed6874be4fe"><p>그렇다면 저희의 베리베리 엑스트라 오디너리나 레모네이드 소르베를 추천드릴게요! 저희의 소르베 메뉴에는 우유가 들어가지 않아 젖소로부터 발생하는 온실가스 배출량을 줄이는 데 도움을 줄 수 있답니다.</p>
                                        </div>
                                    </div>
                                </article>
                            </li>
                            <li>
                                <article class="content-tile view-default">
                                    <div class="content-tile-image article">
                                        <picture>
                                            <img src="../assets/img/misc/fcd-flavor-listicle-6.png" class="" loading="lazy" aria-hidden="true">
                                        </picture>
                                    </div>
                                    <div class="content-tile-content">
                                        <h2 id="tile-heading-ff84d728-b715-4c96-8cd7-5e58d411775e" class="heading heading-3">전 세계 소규모 농가를 지원하고 싶으신가요?</h2>
                                        <div class="content-tile-body" id="tile-body-ff84d728-b715-4c96-8cd7-5e58d411775e"><p>벤앤제리스는 현재 낙농가 돌봄 프로그램을 지원하고 있어요! 낙농가 돌봄 프로그램은 미국과 유럽을 포함한 약 300개 이상의 농가가 참여하고 있으며 행복하고, 건강한 소를 사육하는데 노력하고 있습니다. 좋은 사육 환경을 유지하는 농부들에게는 추가적인 보상이 이루어지고 있답니다.</p>
                                        </div>
                                    </div>
                                </article>
                            </li>
                        </ol>

                        <div class="social-links">
                            <ul class="social-icons">
                                <li>
                                    <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.benjerry.co.kr%2Fsites%2Fkr%2Fhome%2Fwhats-new%2F2022%2Ftop-ben-jerrys-flavours-of-2022&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore btn btn-icon" data-share="facebook" aria-label="공유">
                                        <span class="icon icon-facebook"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.benjerry.co.kr%2Fsites%2Fkr%2Fhome%2Fwhats-new%2F2022%2Ftop-ben-jerrys-flavours-of-2022&amp;media=https%3A%2F%2Fwww.benjerry.co.kr%2Ffiles%2Flive%2Fsites%2Fkr%2Ffiles%2Fmigrated%2Fwhats-new%2F38708-top-flavors-2022%2FB-J_Evergreen_July2019_Cirilli_1200x630-OG.jpg&amp;description=Top+Ben+%26+Jerry%E2%80%99s+Flavours+of+2022" class="btn btn-icon" data-share="pinterest" aria-label="핀터레스트">
                                        <span class="icon icon-pinterest"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </main>


        <aside id="aside-footer">
            <div class="container-fluid">
                <div class="footer-top">
                    <div class="footer-title">
                        <h2>우리는 아이스크림 만드는 일을 사랑합니다. 하지만 세상을 더 나은 곳으로 만들기 위한 노력들이 우리의 일에 더 큰 의미를 부여합니다.&nbsp;</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <article class="footer-card">
                                <div class="footer-card-image" role="presentation">
                                        <img src="../assets/img/homepage/footer_card_1.png" alt="" class="" loading="lazy">
                                </div>
                                <div class="footer-card-content">
                                    <h2 class="heading-3">엄선한 원료</h2>
                                    <div class="footer-card-body"><p>우리의 원료들은 환상적인 맛의 아이스크림을 만드는 것은 물론, 사회의 긍정적 변화를 지원합니다.&nbsp;</p></div>
                                    <a href="/values/how-we-do-business" class="btn btn-tertiary">제품의 원료 조달</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-4">
                            <article class="footer-card">
                                <div class="footer-card-image" role="presentation">
                                    <img src="../assets/img/homepage/footer_card_2.png" alt="" class="" loading="lazy">
                                </div>
                                <div class="footer-card-content">
                                    <h2 class="heading-3">성공을 공유</h2>
                                    <div class="footer-card-body"><p>사업과 관련된 모든 사람이 상생할 수 있는 기회를 창출하는 것이 목표입니다.</p>
                                    </div>
                                    <a href="/values" class="btn btn-tertiary">우리의 사명과 가치</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-4">
                            <article class="footer-card">
                                <div class="footer-card-image" role="presentation">
                                    <img src="../assets/img/homepage/footer_card_3.png" alt="" class="" loading="lazy">
                                </div>
                                <div class="footer-card-content">
                                    <h2 class="heading-3">변화 만들기</h2>
                                    <div class="footer-card-body"><p>우리는 우리가 중요하게 생각하는 행동주의의 대의에 대한 인식을 높이고 이를 지원하고 있습니다.</p>
                                    </div>
                                    <a href="/values/issues-we-care-about" class="btn btn-tertiary">우리가 중요하게 생각하는 문제</a>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
                
        <footer id="footer">
            <div class="container-fluid  ">
                <div class="footer-bottom">
                    <div class="footer-image">
                        <img class="" src="../assets/img/homepage/footer_woody.svg" alt="Illustrated cow holding a megaphone" loading="lazy"></div>
                    <div class="row">
                    <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <h2 class="heading">연락하기</h2>
                            <ul class="">
                                <li><a href="/contact-us">피드백 보내기</a></li>
                            </ul>
                            <div class="social-links article">
                                <h2 class="heading">팔로우하기</h2>
                                <ul class="">
                                    <li>
                                        <a href="https://www.facebook.com/benandjerryskr">
                                            <span class="icon icon-facebook"></span></a>
                                    </li>
                                    <li>
                                        <a href="https://instagram.com/benjerryskorea">
                                            <span class="icon icon-instagram"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h2 class="heading">보다 자세한 정보</h2>
                            <ul class="">
                                <li><a href="/whats-new">새로운 소식</a></li>
                                <li><a href="/about-us">회사 소개</a></li>
                                <li><a href="/values/how-we-do-business">기업 운영 방식</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="main.js"></script>
            
    </body>
</html>                    