<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>top-ben-jerrys-flavours-of-2022</title>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
    </head>
    <body class="template-home">
        <div class="sticky-guard">
            <header id="header" style>
                <div class="container-fluid  ">
                    <nav id="navbar-primary" data-module="Navbar" aria-label="primary" class="navbar">
                        <a class="navbar-brand" href="/" aria-label="Ben &amp; Jerry's 홈페이지">
                                    <img class="logo" alt="Ben &amp; Jerry's 로고" src="../assets/img/logo.png">
                        </a>

                        <ul role="menubar" class="navbar-nav navbar-nav-primary" data-nav="primary">
                            <li class="nav-item" role="menuitem" data-width="162">
                                <a id="navbarDropdownMenu-a" href="/flavours" 
                                        data-bs-toggle="collapse" 
                                        data-bs-target="#navbarDropdownMenu-collapse-a" 
                                        class="nav-link nav-link-toggle" 
                                        aria-current="page" 
                                        aria-expanded="false" 
                                        aria-haspopup="true">
                                    아이스크림</a>

                                <div id="navbarDropdownMenu-collapse-a" data-collapse="nav" 
                                        class="navbar-collapse navbar-collapse-nav collapse" 
                                        data-bs-parent="#navbar-primary" style="">
                                    <ul role="menu" class="nav " style="height: 64px;">
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/flavours">아이스크림</a>
                                        </li>
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/flavours/ice-cream-pints">파인트</a>
                                        </li>
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/flavours/ice-cream-cups">미니컵</a>
                                        </li>
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/flavors/ice-cream-shop-flavors">스쿱</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>


                            <li class="nav-item" role="menuitem" data-width="125">
                                <a class="nav-link" href="/ice-cream-near-me">
                                    구매처</a>
                            </li>
                        

                            <li class="nav-item" role="menuitem" data-width="144">
                                <a id="navbarDropdownMenu-b" href="/values" 
                                        data-bs-toggle="collapse" 
                                        data-bs-target="#navbarDropdownMenu-collapse-b" 
                                        class="nav-link nav-link-toggle" 
                                        aria-expanded="false" 
                                        aria-haspopup="true">
                                    행동주의</a>

                                <div id="navbarDropdownMenu-collapse-b" data-collapse="nav" 
                                        class="navbar-collapse navbar-collapse-nav collapse" 
                                        data-bs-parent="#navbar-primary" style="">
                                    <ul role="menu" class="nav " style="height: 96px;">
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/values">행동주의</a>
                                        </li>
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/values/how-we-do-business">기업 운영 방식</a>
                                        </li><li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/values/issues-we-care-about">우리가 중요하게 생각하는 문제</a>
                                        </li>
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/values/our-progressive-values">우리가 추구하는 진보적인 가치</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        
                            <li class="nav-item" role="menuitem">
                                <a id="navbarDropdownMenu-c" href="/about-us" 
                                        data-bs-toggle="collapse" 
                                        data-bs-target="#navbarDropdownMenu-collapse-c" 
                                        class="nav-link nav-link-toggle" 
                                        aria-expanded="false" 
                                        aria-haspopup="true">
                                    회사 소개</a>

                                <div id="navbarDropdownMenu-collapse-c" data-collapse="nav" 
                                        class="navbar-collapse navbar-collapse-nav collapse" 
                                        data-bs-parent="#navbar-primary" style="">
                                    <ul role="menu" class="nav " style="height: 160px;">
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/about-us">회사 소개</a>
                                        </li>
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/about-us/how-were-structured">경영 구조</a>
                                        </li>
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/about-us/how-we-make-ice-cream">우리가 아이스크림을 제조하는 방식</a>
                                        </li>
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/about-us/flavour-gurus">맛 전문가</a>
                                        </li>
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/about-us/where-we-do-business">우리가 기업을 운영하는 지역</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        
                            <li class="nav-item" role="menuitem">
                                <a class="nav-link " href="/whats-new">새로운 소식</a>
                            </li>

                            <li class="nav-item" role="menuitem">
                                <a class="nav-link" href="/contact-us">연락처</a>
                            </li>
                        </ul>


                        <button class="navbar-toggler navbar-toggler-search"
                        data-bs-toggle="collapse" data-bs-target="#navbar-collapse-search"
                        aria-controls="navbar-collapse-search" aria-expanded="false" aria-label="토글 검색">
                            <span class="navbar-toggler-icon"></span>    
                        </button>
                        <button class="navbar-toggler navbar-toggler-nav" 
                                data-toggle="nav" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse-nav"
                                aria-controls="navbar-collapse-nav" aria-expanded="false" aria-haspopup="true" aria-label="토글 탐색" 
                                style="display: revert; visibility: visible;">
                                <span class="navbar-toggler-icon"></span>
                        </button> 

                        <div id="navbar-collapse-search" data-collapse="search" data-bs-parent="#navbar-primary" class="navbar-collapse navbar-collapse-search collapse" style="">
                            <div class="d-none d-md-block">
                                <section id="search-auto-suggest" data-module="SearchAutoSuggest" class="search-auto-suggest" data-search-auto-suggest-url="/search-results/pagecontent/search-results.json">
                                    <form role="search" method="post" name="searchForm" action="/search-results" id="search-auto-suggest-form" class="search-auto-suggest">
                                        <input type="hidden" name="jcrMethodToCall" value="get">
                                        <input type="hidden" name="src_originSiteKey" value="kr">
                                        <input name="src_pagePath.value" id="search-auto-suggest-page-pathValue" type="hidden" value="/sites/kr/home">
                                        <input type="hidden" name="src_pagePath.includeChildren" value="true">
                                        <div class="d-flex">
                                            <div class="input-group">
                                                <label id="search-auto-suggest-label" for="search-auto-suggest-input" class="visually-hidden">
                            Search Our Website</label>
                                                <div data-divbox="" aria-owns="search-auto-suggest-combobox-listbox" class="combobox">
                                                    <input aria-autocomplete="list" role="combobox" aria-controls="search-auto-suggest-combobox-listbox" autocomplete="off" maxlength="100" aria-expanded="false" aria-haspopup="listbox" type="search" autocapitalize="none" name="src_terms[0].term" id="search-auto-suggest-input" placeholder="Search Flavours" class="form-control" aria-label="Search Our Website" value="" aria-activedescendant="">
                                                    <input type="hidden" name="src_terms[0].applyFilter" value="true">
                                                    <input type="hidden" name="src_terms[0].match" value="all_words">
                                                    <input type="hidden" name="src_terms[0].fields.siteContent" value="true">
                                                    <input type="hidden" name="src_terms[0].fields.tags" value="true">
                                                    <div id="search-auto-suggest-combobox-listbox" role="listbox" tabindex="0" class="combobox-listbox" aria-labelledby="search-auto-suggest-label" hidden="true"></div>
                                                    <div class="visually-hidden">
                                                            제안은 3자 이상 입력 시 제공됩니다. 결과 제공 시 상하 화살표를 이용하여 검토하고 선택하여 입력할 수 있습니다. 터치 기기 이용자의 경우 터치하거나 스와이프 동작으로 둘러볼 수 있습니다.</div>
                                                    <div role="status" aria-atomic="true" aria-live="polite" class="visually-hidden">
                                                        <span data-aria-status-results="" data-template-sizenotexact="{0}개 이상 결과 제공됨." data-template="{0}개 결과 제공됨."></span>
                                                        <span data-aria-status-focus="" data-template="{0}개 살펴보기."></span>
                                                    </div>
                                    
                                                    <div class="no-results" data-no-results="" data-template="결과를 찾을 수 없음: {0}" style="display: none;"></div>
                                                </div>
                                            </div>
                                            <button type="submit" class="visually-hidden-focusable btn btn-primary" disabled="">
                                        검색</button>
                                        </div>

                                        <input type="hidden" name="src_sites.values" value="kr">
                                        <input type="hidden" name="src_sitesForReferences.values" value="systemsite">
                                        <input type="hidden" name="src_languages.values" value="ko_KR">
                                    </form>
                                    <div role="status" aria-atomic="true" aria-live="polite" class="visually-hidden">
                                        <span data-aria-status-results="" data-template="{0}개 결과 제공됨."></span>
                                        <span data-aria-status-focus="" data-template="{0}개 살펴보기."></span>
                                    </div>
                                    <div class="no-results" data-no-results="" data-template="결과를 찾을 수 없음: {0}"></div>
                                </section>
                            </div>
                        </div>
                    </nav>  
                </div>
            


        <nav class="nav-secondary" aria-label="secondary">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/whats-new" title="새로운 소식">새로운 소식</a>
                </li>
            </ol>
        </nav>
    </header>
</div>


        <main id="main" style="margin-top: 180px;">
            <div class="container-fluid">
                <article class="hero theme-light view-default">
                    <div class="hero-background bg-bnj-sky-blue" style="">
                        <div class="hero-background-images d-lg-none" role="presentation"></div>
                        <div class="hero-background-images d-none d-lg-flex" role="presentation"></div>
                    </div>    
                    <div class="hero-foreground">
                        <div class="hero-content">
                            <h1 class="heading-1">Free Cone day (프리 콘 데이): 미국 버몬트에서 세계적인 축제가 되기까지</h1>
                            <div class="hero-body"></div>
                            <div class="hero-buttons"></div>
                        </div>
                    </div>
                </article>

                <div class="row grid-row article">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="content-block">
                            <p>벤앤제리스를 아끼고 사랑해 주시는 마음만큼, 벤앤제리스 역시 Free Cone day (프리 콘 데이)를 통해 팬 여러분의 사랑과 성원에 감사의 마음을 전하고자 합니다. 2024년, 올해 Free Cone day (프리 콘 데이)가 4월 16일 월요일에 진행됩니다. 꼭 기억해주시고, 친구들과 함께 달콤한 하루 보내시길 바랄게요!&nbsp;</p>
                        
                            <p><strong>1979</strong></p>
                            
                            <p><strong><img alt="Ben &amp; Jerry's Free Cone Day History - 1979" loading="lazy" src="../assets/img/misc/fcd-history-1979.png"></strong></p>
                            
                            <p>벤앤제리스 Free Cone day (프리 콘 데이)의 시작!<br><br>
                            역사상 처음으로 열린 Free Cone day (프리 콘 데이)는 미국 동북부 버몬트주 벌링턴에 있는 벤앤제리스 최초의 아이스크림 매장(스쿱샵)에서 진행되었답니다.<br><br>
                            Free Cone day (프리 콘 데이)는 스쿱샵이 한 해 동안 잘 운영될 수 있도록 도와주신 팬들의 성원에 보답하기 위한 벤앤제리스만의 이벤트 였습니다.&nbsp;</p>
                            
                            <p>&nbsp;</p>
                            
                            <p><strong>1984</strong></p>
                            
                            <p><strong><img alt="Ben &amp; Jerry's Free Cone Day History - 1984" loading="lazy" src="../assets/img/misc/fcd-history-1984.png"></strong></p>
                            
                            <p>뉴욕의 사라토가 스프링스(Saratoga Springs)는 버몬트주 외 처음으로 Free Cone day (프리 콘 데이)를 주최하는 도시였고, 이는 벤앤제리스 내 하나의 역사가 되었습니다.</p>
                            
                            <p>&nbsp;</p>
                            
                            <p><strong>1988</strong></p>
                            
                            <p><img alt="Ben &amp; Jerry's Free Cone Day History - 1988" loading="lazy" src="../assets/img/misc/fcd-history-1988.png"></p>
                            
                            <p>벤앤제리스는 버몬트 내에 있는 모든 아이스크림 매장(스쿱샵)은 매년 6월 4일, 버몬트 주 외의 모든 스쿱샵들은 6월 5일에 Free Cone day (프리 콘 데이) 이벤트를 진행하기 시작했습니다.</p>
                            
                            <p>&nbsp;</p>
                            
                            <p><strong>1993</strong></p>
                            
                            <p><strong><img alt="Ben &amp; Jerry's Free Cone Day History - 1993" loading="lazy" src="../assets/img/misc/fcd-history-1993.png"></strong></p>
                            
                            <p>미국 전역에서 동시에 개최! 미국 내 모든 아이스크림 매장(스쿱샵)은 같은 날에 무료로 아이스크림을 나눠드리기 시작했어요.<br><br>
                            (Free Cone day (프리 콘 데이)만을 손꼽아 기다리는 모든 이들을 위해 5월 21일로 정했답니다!)</p>
                            
                            <p>&nbsp;</p>
                            
                            <p><strong>1998</strong></p>
                            
                            <p><img alt="Ben &amp; Jerry's Free Cone Day History - 1998" loading="lazy" src="../assets/img/misc/fcd-history-1998.png"></p>
                            
                            <p>런던에 사는 누군가는 Free Cone day (프리 콘 데이)를 즐길 수 있다는 사실에 너무 기쁜 나머지 열쇠를 남겨두고 떠났어요.<br><br>
                            혹 이 열쇠가 당신의 것이라면 언제든지 말씀해주세요! 당신이 다시 돌려받을 수 있는 그 날까지 저희가 안전하게 보관하고 있을게요.</p>
                            
                            <p>&nbsp;</p>
                            
                            <p><strong>2000</strong></p>
                            
                            <p><img alt="Ben &amp; Jerry's Free Cone Day History - 2000" loading="lazy" src="../assets/img/misc/fcd-history-2000.png"></p>
                            
                            <p>처음 국제적으로 진행되었던 Free Cone day (프리 콘 데이)에는 전 세계의 평화, 사랑 그리고 아이스크림을 널리 알렸습니다.<br><br>
                            이제 전 세계의 모든 스쿱샵들은 4월 18일에 Free Cone day (프리 콘 데이)를 함께 즐긴답니다!</p>
                            
                            <p>&nbsp;</p>
                            
                            <p><strong>2010</strong></p>
                            
                            <p><img alt="Ben &amp; Jerry's Free Cone Day History - 2010" loading="lazy" src="../assets/img/misc/fcd-history-2010.png"></p>
                            
                            <p>세계적인 축제, Free Cone day (프리 콘 데이)에는 모바일 앱을 통해 보다 많은 지역에 감사한 마음을 전하고자 합니다. 전 세계의 팬들은 실시간으로 각종 SNS를 통해 다른 나라들에서 이루어지고 있는 Free Cone day (프리 콘 데이) 사진과 영상들을 더욱 쉽게 찾아볼 수 있어요.</p>
                            
                            <p>&nbsp;</p>
                            
                            <p><strong>2012</strong></p>
                            
                            <p><img alt="Ben &amp; Jerry's Free Cone Day History - 2012" loading="lazy" src="../assets/img/misc/fcd-history-2012.png"></p>
                            
                            <p>호주 퍼스 지역에서 사건이 발생했어요. 두 사람이 새치기를 하려다 딱! 걸려버렸지만 진심을 담아 사과하고 모든 이들과 하이파이브를 하면서 아름답게 마무리 되었답니다. 모두가 행복한 날이니까요!</p>
                            
                            <p>&nbsp;</p>
                            
                            <p><strong>2015</strong></p>
                            
                            <p><img alt="Ben &amp; Jerry's Free Cone Day History - 2015" loading="lazy" src="../assets/img/misc/fcd-history-2015.png"></p>
                            
                            <p>놀라지 마세요! 저희는 매 Free Cone day (프리 콘 데이)마다 약 백만 개 이상의 아이스크림을 전 세계에 선물하고 있어요.<br><br>
                            그만큼 많은 분들이 벤앤제리스를 사랑해 주시고 있다는 거겠죠?</p>
                            
                            <p><strong>2023</strong></p>
                            
                            <p><strong><img alt="Ben &amp; Jerry's Free Cone Day History - 2016" loading="lazy" src="../assets/img/misc/fcd-history-2023.png"></strong></p>
                            
                            <p>저희는 항상 최고를 달성할 예정이기에 최고의 Free Cone day (프리 콘 데이)는 아직 오지 않았다고 믿어요.<br><br>
                            Free Cone day (프리 콘 데이)의 주인공, 팬 여러분의 많은 참여로 세상을 아름답게 만들어주실거라 믿어요!</p>
                        </div>

                        <div class="social-links">
                            <ul class="social-icons">
                                <li>
                                    <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.benjerry.co.kr%2Fsites%2Fkr%2Fhome%2Fwhats-new%2F2022%2Ftop-ben-jerrys-flavours-of-2022&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore btn btn-icon" data-share="facebook" aria-label="공유">
                                        <span class="icon icon-facebook"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.benjerry.co.kr%2Fsites%2Fkr%2Fhome%2Fwhats-new%2F2022%2Ftop-ben-jerrys-flavours-of-2022&amp;media=https%3A%2F%2Fwww.benjerry.co.kr%2Ffiles%2Flive%2Fsites%2Fkr%2Ffiles%2Fmigrated%2Fwhats-new%2F38708-top-flavors-2022%2FB-J_Evergreen_July2019_Cirilli_1200x630-OG.jpg&amp;description=Top+Ben+%26+Jerry%E2%80%99s+Flavours+of+2022" class="btn btn-icon" data-share="pinterest" aria-label="핀터레스트">
                                        <span class="icon icon-pinterest"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </main>


        <aside id="aside-footer">
            <div class="container-fluid">
                <div class="footer-top">
                    <div class="footer-title">
                        <h2>우리는 아이스크림 만드는 일을 사랑합니다. 하지만 세상을 더 나은 곳으로 만들기 위한 노력들이 우리의 일에 더 큰 의미를 부여합니다.&nbsp;</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <article class="footer-card">
                                <div class="footer-card-image" role="presentation">
                                        <img src="../assets/img/homepage/footer_card_1.png" alt="" class="" loading="lazy">
                                </div>
                                <div class="footer-card-content">
                                    <h2 class="heading-3">엄선한 원료</h2>
                                    <div class="footer-card-body"><p>우리의 원료들은 환상적인 맛의 아이스크림을 만드는 것은 물론, 사회의 긍정적 변화를 지원합니다.&nbsp;</p></div>
                                    <a href="/values/how-we-do-business" class="btn btn-tertiary">제품의 원료 조달</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-4">
                            <article class="footer-card">
                                <div class="footer-card-image" role="presentation">
                                    <img src="../assets/img/homepage/footer_card_2.png" alt="" class="" loading="lazy">
                                </div>
                                <div class="footer-card-content">
                                    <h2 class="heading-3">성공을 공유</h2>
                                    <div class="footer-card-body"><p>사업과 관련된 모든 사람이 상생할 수 있는 기회를 창출하는 것이 목표입니다.</p>
                                    </div>
                                    <a href="/values" class="btn btn-tertiary">우리의 사명과 가치</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-4">
                            <article class="footer-card">
                                <div class="footer-card-image" role="presentation">
                                    <img src="../assets/img/homepage/footer_card_3.png" alt="" class="" loading="lazy">
                                </div>
                                <div class="footer-card-content">
                                    <h2 class="heading-3">변화 만들기</h2>
                                    <div class="footer-card-body"><p>우리는 우리가 중요하게 생각하는 행동주의의 대의에 대한 인식을 높이고 이를 지원하고 있습니다.</p>
                                    </div>
                                    <a href="/values/issues-we-care-about" class="btn btn-tertiary">우리가 중요하게 생각하는 문제</a>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
                
        <footer id="footer">
            <div class="container-fluid  ">
                <div class="footer-bottom">
                    <div class="footer-image">
                        <img class="" src="../assets/img/homepage/footer_woody.svg" alt="Illustrated cow holding a megaphone" loading="lazy"></div>
                    <div class="row">
                    <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <h2 class="heading">연락하기</h2>
                            <ul class="">
                                <li><a href="/contact-us">피드백 보내기</a></li>
                            </ul>
                            <div class="social-links article">
                                <h2 class="heading">팔로우하기</h2>
                                <ul class="">
                                    <li>
                                        <a href="https://www.facebook.com/benandjerryskr">
                                            <span class="icon icon-facebook"></span></a>
                                    </li>
                                    <li>
                                        <a href="https://instagram.com/benjerryskorea">
                                            <span class="icon icon-instagram"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h2 class="heading">보다 자세한 정보</h2>
                            <ul class="">
                                <li><a href="/whats-new">새로운 소식</a></li>
                                <li><a href="/about-us">회사 소개</a></li>
                                <li><a href="/values/how-we-do-business">기업 운영 방식</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="main.js"></script>
            
    </body>
</html>                    