<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>top-ben-jerrys-flavours-of-2022</title>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/style.css">
    </head>
    <body class="template-home">
        <div class="sticky-guard">
            <header id="header" style>
                <div class="container-fluid  ">
                    <nav id="navbar-primary" data-module="Navbar" aria-label="primary" class="navbar">
                        <a class="navbar-brand" href="/" aria-label="Ben &amp; Jerry's 홈페이지">
                                    <img class="logo" alt="Ben &amp; Jerry's 로고" src="../assets/img/logo.png">
                        </a>

                        <ul role="menubar" class="navbar-nav navbar-nav-primary" data-nav="primary">
                            <li class="nav-item" role="menuitem" data-width="162">
                                <a id="navbarDropdownMenu-a" href="/flavours" 
                                        data-bs-toggle="collapse" 
                                        data-bs-target="#navbarDropdownMenu-collapse-a" 
                                        class="nav-link nav-link-toggle" 
                                        aria-current="page" 
                                        aria-expanded="false" 
                                        aria-haspopup="true">
                                    아이스크림</a>

                                <div id="navbarDropdownMenu-collapse-a" data-collapse="nav" 
                                        class="navbar-collapse navbar-collapse-nav collapse" 
                                        data-bs-parent="#navbar-primary" style="">
                                    <ul role="menu" class="nav " style="height: 64px;">
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/flavours">아이스크림</a>
                                        </li>
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/flavours/ice-cream-pints">파인트</a>
                                        </li>
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/flavours/ice-cream-cups">미니컵</a>
                                        </li>
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/flavors/ice-cream-shop-flavors">스쿱</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>


                            <li class="nav-item" role="menuitem" data-width="125">
                                <a class="nav-link" href="/ice-cream-near-me">
                                    구매처</a>
                            </li>
                        

                            <li class="nav-item" role="menuitem" data-width="144">
                                <a id="navbarDropdownMenu-b" href="/values" 
                                        data-bs-toggle="collapse" 
                                        data-bs-target="#navbarDropdownMenu-collapse-b" 
                                        class="nav-link nav-link-toggle" 
                                        aria-expanded="false" 
                                        aria-haspopup="true">
                                    행동주의</a>

                                <div id="navbarDropdownMenu-collapse-b" data-collapse="nav" 
                                        class="navbar-collapse navbar-collapse-nav collapse" 
                                        data-bs-parent="#navbar-primary" style="">
                                    <ul role="menu" class="nav " style="height: 96px;">
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/values">행동주의</a>
                                        </li>
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/values/how-we-do-business">기업 운영 방식</a>
                                        </li><li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/values/issues-we-care-about">우리가 중요하게 생각하는 문제</a>
                                        </li>
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/values/our-progressive-values">우리가 추구하는 진보적인 가치</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        
                            <li class="nav-item" role="menuitem">
                                <a id="navbarDropdownMenu-c" href="/about-us" 
                                        data-bs-toggle="collapse" 
                                        data-bs-target="#navbarDropdownMenu-collapse-c" 
                                        class="nav-link nav-link-toggle" 
                                        aria-expanded="false" 
                                        aria-haspopup="true">
                                    회사 소개</a>

                                <div id="navbarDropdownMenu-collapse-c" data-collapse="nav" 
                                        class="navbar-collapse navbar-collapse-nav collapse" 
                                        data-bs-parent="#navbar-primary" style="">
                                    <ul role="menu" class="nav " style="height: 160px;">
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/about-us">회사 소개</a>
                                        </li>
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/about-us/how-were-structured">경영 구조</a>
                                        </li>
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/about-us/how-we-make-ice-cream">우리가 아이스크림을 제조하는 방식</a>
                                        </li>
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/about-us/flavour-gurus">맛 전문가</a>
                                        </li>
                                        <li class="nav-item" role="menuitem">
                                            <a class="nav-link " href="/about-us/where-we-do-business">우리가 기업을 운영하는 지역</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        
                            <li class="nav-item" role="menuitem">
                                <a class="nav-link " href="/whats-new">새로운 소식</a>
                            </li>
                        </ul>


                        <button class="navbar-toggler navbar-toggler-search"
                        data-bs-toggle="collapse" data-bs-target="#navbar-collapse-search"
                        aria-controls="navbar-collapse-search" aria-expanded="false" aria-label="토글 검색">
                            <span class="navbar-toggler-icon"></span>    
                        </button>
                        <button class="navbar-toggler navbar-toggler-nav" 
                                data-toggle="nav" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse-nav"
                                aria-controls="navbar-collapse-nav" aria-expanded="false" aria-haspopup="true" aria-label="토글 탐색" 
                                style="display: revert; visibility: visible;">
                                <span class="navbar-toggler-icon"></span>
                        </button>

                            <div id="navbar-collapse-search" data-collapse="search" data-bs-parent="#navbar-primary" class="navbar-collapse navbar-collapse-search collapse" style="">
                                    <div class="d-none d-md-block">
                                            <!-- 오토서제스트 (상단) -->
                                            <section id="search-auto-suggest" data-module="SearchAutoSuggest"
                                                     class="search-auto-suggest"
                                                     data-search-auto-suggest-url="/search-results/pagecontent/search-results.json">
                                                    <form role="search" method="get" th:action="@{/search}" name="searchForm"
                                                          id="search-auto-suggest-form" class="search-auto-suggest">
                                                            <div class="d-flex">
                                                                    <div class="input-group">
                                                                            <label id="search-auto-suggest-label" for="search-auto-suggest-input" class="visually-hidden">Search Flavours</label>
                                                                            <div data-divbox="" aria-owns="search-auto-suggest-combobox-listbox" class="combobox">
                                                                                    <input aria-autocomplete="list" role="combobox"
                                                                                           aria-controls="search-auto-suggest-combobox-listbox"
                                                                                           autocomplete="off" maxlength="100" aria-expanded="false" aria-haspopup="listbox"
                                                                                           type="search" autocapitalize="none" name="q" id="search-auto-suggest-input"
                                                                                           placeholder="Search Flavours" class="form-control" aria-label="Search Our Website"
                                                                                           th:value="${q}">
                                                                                    <div id="search-auto-suggest-combobox-listbox" role="listbox" tabindex="0" class="combobox-listbox" hidden></div>
                                                                                    <div role="status" aria-atomic="true" aria-live="polite" class="visually-hidden">
                                                                                            <span data-aria-status-results="" data-template-sizenotexact="{0}개 이상 결과 제공됨." data-template="{0}개 결과 제공됨."></span>
                                                                                            <span data-aria-status-focus="" data-template="{0}개 살펴보기."></span>
                                                                                    </div>
                                                                                    <div class="no-results" data-no-results="" data-template="결과를 찾을 수 없음: {0}" style="display: none;"></div>
                                                                            </div>
                                                                    </div>
                                                                    <button type="submit" class="visually-hidden-focusable btn btn-primary">검색</button>
                                                            </div>
                                                    </form>
                                            </section>
                                    </div>
                            </div>
                    </nav>  
                </div>


                <nav class="nav-secondary" aria-label="secondary">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/whats-new" title="새로운 소식">새로운 소식</a>
                        </li>
                    </ol>
                </nav>
            </header>
        </div>


        <main id="main" style="margin-top: 180px;">
            <div class="container-fluid">
                <article class="hero theme-light view-default">
                    <div class="hero-background bg-bnj-sky-blue" style="">
                        <div class="hero-background-images d-lg-none" role="presentation"></div>
                        <div class="hero-background-images d-none d-lg-flex" role="presentation"></div>
                    </div>    
                    <div class="hero-foreground">
                        <div class="hero-content">
                            <h1 class="heading-1">Top Ben &amp; Jerry’s Flavours of 2022</h1>
                            <div class="hero-body"></div>
                            <div class="hero-buttons"></div>
                        </div>
                    </div>
                </article>

                <div class="row grid-row article">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="content-block">
                            <p>It’s been a swirl of a year! And through it all, Ben &amp; Jerry’s has been there for you. Those late-night hangouts with a bowl of Chocolate Fudge Brownie, the homemade milkshakes that shook your world, the just-one-more-bite moments in front of the open freezer door — you scooped up a whole lot of euphoria in 2022, and these flavours got the most love:</p>
                        </div>
                        <div class="content-block">
                            <p>&nbsp;</p>
                        </div>
                    
                        <ul class="listicle">
                            <li> 
                                <article class="content-tile view-default">
                                    <div class="content-tile-image article">
                                        <picture>
                                            <img src="../assets/img/misc/ANM-BNJ0027-Chunky_Monkey-8892_Sq3000-400x400-711dfef1-c735-457f-b8cd-0e143042abe9.png" alt="Pint of Chunky Monkey" class="" loading="lazy" aria-hidden="true">
                                        </picture>
                                    </div>
                                    <div class="content-tile-content">
                                        <h2 id="tile-heading-bnj0027" class="heading heading-3">5. Chunky Monkey</h2>
                                        <div class="content-tile-body" id="tile-body-tile-heading-bnj0027"><p>Did fans scoop up Chunky Monkey this year because 2022 was truly BANANAS? We certainly can’t rule it out.</p>
                                        </div>
                                    </div>
                                </article>
                            </li>
                            <li>
                                <article class="content-tile view-default">
                                    <div class="content-tile-image article">
                                        <picture>
                                            <img src="../assets/img/misc/BNJ0050-New_York_Super_Fudge_Chunk_Ingredient-5491-SQ-400x400-a27252f3-f97e-4641-b80c-02934b6bf5a3.png" alt="Pint of New York Super Fudget Chunk" class="" loading="lazy" aria-hidden="true">
                                        </picture>
                                    </div>
                                    <div class="content-tile-content">
                                        <h2 id="tile-heading-tile-heading-bnj0050" class="heading heading-3">4. New York Super Fudge Chunk</h2>
                                        <div class="content-tile-body" id="tile-body-tile-heading-bnj0050"><p>Nut lovers, this one is for you! We made this flavour as jam-packed with excitement as the city it was named after. This flavour has five different chunks under the lid, each one more delicious than the last.</p>
                                        </div>
                                    </div>
                                </article>
                            </li>
                            <li>
                                <article class="content-tile view-default">
                                    <div class="content-tile-image article">
                                        <picture>
                                            <img src="../assets/img/misc/BNJ0054-ANM-half_baked-2388-FB-400x400-f4dd3691-b14a-48e6-9522-127f9df6db59.png" alt="Pint of Half Baked" class="" loading="lazy" aria-hidden="true">
                                        </picture>
                                    </div>
                                    <div class="content-tile-content">
                                        <h2 id="tile-heading-tile-heading-bnj0054" class="heading heading-3">3. Half Baked</h2>
                                        <div class="content-tile-body" id="tile-body-tile-heading-bnj0054"><p>Year after year and chunk after chunk, this heavy-hitter flavour reigns supreme in the ice cream aisle.</p>
                                        </div>
                                    </div>
                                </article>
                            </li>
                            <li>
                                <article class="content-tile view-default">
                                    <div class="content-tile-image article">
                                        <picture>
                                            <img src="../assets/img/misc/BnJ_Evergreen_ChocolateFudgeBrownie_0001_3000x3000_CirilliPhoto-400x400-da36f06b-3085-44c5-bc43-56d01ada3fa8.png" alt="Pint of Chocolate Fudge Brownie" class="" loading="lazy" aria-hidden="true">
                                        </picture>
                                    </div>
                                    <div class="content-tile-content">
                                        <h2 id="tile-heading-tile-heading-bnj0001" class="heading heading-3">2. Chocoate Fudge Brownie</h2>
                                        <div class="content-tile-body" id="tile-body-tile-heading-bnj0001"><p>It’s basically a brownie sundae in a pint (BYO whipped cream), so we can’t say we’re surprised to see this tub flying off the shelves.</p>
                                        </div>
                                    </div>
                                </article>
                            </li>
                            <li>
                                <article class="content-tile view-default">
                                    <div class="content-tile-image article">
                                        <picture>
                                            <img src="../assets/img/misc/BNJ0081-No_VT_Finest-AMET-Cookie_Dough-Cookie_Mountain-8115-SQ-400x400-38b303a3-4c9e-44ae-ae18-9d52dc07f58a.jpg" alt="Pint of Chocolate Chip Cookie Dough" class="" loading="lazy" aria-hidden="true">
                                        </picture>
                                    </div>                    
                                    <div class="content-tile-content">
                                        <h2 id="tile-heading-tile-heading-bnj0081" class="heading heading-3">1. Chocolate Chip Cookie Dough</h2>
                                        <div class="content-tile-body" id="tile-body-tile-heading-bnj0081"><p>The one. The only. Fans have been gobbling up these inimitable chocolate chip cookie dough chunks since way back in 1984.</p>
                                        </div>
                                    </div>
                                </article>
                            </li>
                        </ul>
                        <div class="content-block">
                            <p><a href="#" title="매장위치 찾기">Getting hungry? Order all your favorites for delivery to your door!</a></p>
                        </div>
                        <div class="content-block">
                            <p>&nbsp;</p>
                        </div>
                        <div class="social-links">
                            <ul class="social-icons">
                                <li>
                                    <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.benjerry.co.kr%2Fsites%2Fkr%2Fhome%2Fwhats-new%2F2022%2Ftop-ben-jerrys-flavours-of-2022&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore btn btn-icon" data-share="facebook" aria-label="공유">
                                        <span class="icon icon-facebook"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.benjerry.co.kr%2Fsites%2Fkr%2Fhome%2Fwhats-new%2F2022%2Ftop-ben-jerrys-flavours-of-2022&amp;media=https%3A%2F%2Fwww.benjerry.co.kr%2Ffiles%2Flive%2Fsites%2Fkr%2Ffiles%2Fmigrated%2Fwhats-new%2F38708-top-flavors-2022%2FB-J_Evergreen_July2019_Cirilli_1200x630-OG.jpg&amp;description=Top+Ben+%26+Jerry%E2%80%99s+Flavours+of+2022" class="btn btn-icon" data-share="pinterest" aria-label="핀터레스트">
                                        <span class="icon icon-pinterest"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </main>


        <aside id="aside-footer">
            <div class="container-fluid">
                <div class="footer-top">
                    <div class="footer-title">
                        <h2>우리는 아이스크림 만드는 일을 사랑합니다. 하지만 세상을 더 나은 곳으로 만들기 위한 노력들이 우리의 일에 더 큰 의미를 부여합니다.&nbsp;</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <article class="footer-card">
                                <div class="footer-card-image" role="presentation">
                                        <img src="../assets/img/homepage/footer_card_1.png" alt="" class="" loading="lazy">
                                </div>
                                <div class="footer-card-content">
                                    <h2 class="heading-3">엄선한 원료</h2>
                                    <div class="footer-card-body"><p>우리의 원료들은 환상적인 맛의 아이스크림을 만드는 것은 물론, 사회의 긍정적 변화를 지원합니다.&nbsp;</p></div>
                                    <a href="/values/how-we-do-business" class="btn btn-tertiary">제품의 원료 조달</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-4">
                            <article class="footer-card">
                                <div class="footer-card-image" role="presentation">
                                    <img src="../assets/img/homepage/footer_card_2.png" alt="" class="" loading="lazy">
                                </div>
                                <div class="footer-card-content">
                                    <h2 class="heading-3">성공을 공유</h2>
                                    <div class="footer-card-body"><p>사업과 관련된 모든 사람이 상생할 수 있는 기회를 창출하는 것이 목표입니다.</p>
                                    </div>
                                    <a href="/values" class="btn btn-tertiary">우리의 사명과 가치</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-4">
                            <article class="footer-card">
                                <div class="footer-card-image" role="presentation">
                                    <img src="../assets/img/homepage/footer_card_3.png" alt="" class="" loading="lazy">
                                </div>
                                <div class="footer-card-content">
                                    <h2 class="heading-3">변화 만들기</h2>
                                    <div class="footer-card-body"><p>우리는 우리가 중요하게 생각하는 행동주의의 대의에 대한 인식을 높이고 이를 지원하고 있습니다.</p>
                                    </div>
                                    <a href="/values/issues-we-care-about" class="btn btn-tertiary">우리가 중요하게 생각하는 문제</a>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
                
        <footer id="footer">
            <div class="container-fluid  ">
                <div class="footer-bottom">
                    <div class="footer-image">
                        <img class="" src="../assets/img/homepage/footer_woody.svg" alt="Illustrated cow holding a megaphone" loading="lazy"></div>
                    <div class="row">
                    <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <h2 class="heading">연락하기</h2>
                            <ul class="">
                                <li><a href="/contact-us">피드백 보내기</a></li>
                            </ul>
                            <div class="social-links article">
                                <h2 class="heading">팔로우하기</h2>
                                <ul class="">
                                    <li>
                                        <a href="https://www.facebook.com/benandjerryskr">
                                            <span class="icon icon-facebook"></span></a>
                                    </li>
                                    <li>
                                        <a href="https://instagram.com/benjerryskorea">
                                            <span class="icon icon-instagram"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h2 class="heading">보다 자세한 정보</h2>
                            <ul class="">
                                <li><a href="/whats-new">새로운 소식</a></li>
                                <li><a href="/about-us">회사 소개</a></li>
                                <li><a href="/values/how-we-do-business">기업 운영 방식</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/js/main.js"></script>
            
    </body>
</html>                    